body {
  background-color: #3df07040;
}
.circle {
  border-radius: 50%;
  background-color: #1aa8a7d1;
}
.board-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.add-button{
  border-radius: 15%;
}
#counter_container{
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  opacity: 90%;
}
#circle_counter{
  padding-left: 5px;
  padding-right: 10px;
}